<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hand">
  <!-- safety_distance: Minimum safety distance in [m] by which the collision volumes are expanded and which is enforced during robot motions -->
  <xacro:macro name="openarm_hand" params="connected_to:='' arm_type arm_prefix:='' ee_type ee_inertials ee_kinematics_link rpy_ee:='0 0 0' xyz_ee:='0 0 0' tcp_xyz:='0 0 0' tcp_rpy:='0 0 0' description_pkg:=openarm_description">

    <xacro:property name="ee_prefix" default=""/>

    <xacro:unless value="${arm_type == ''}">
      <!-- <xacro:property name="ee_prefix" value="${arm_prefix}${arm_type}_" /> -->
      <xacro:property name="ee_prefix" value="openarm_${arm_prefix}" />
    </xacro:unless>


    <link name="${ee_prefix}hand">
      <visual name="${ee_prefix}hand_visual">
        <xacro:openarm-ee-kinematics-link config="${ee_kinematics_link}" name="hand" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/ee/${ee_type}/visual/openarm_gripper_1.STL" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <collision name="${ee_prefix}hand_collision">
        <xacro:openarm-ee-kinematics-link config="${ee_kinematics_link}" name="hand" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/ee/${ee_type}/collision/hand.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <xacro:ee-inertials name="hand" />
    </link>

    <xacro:unless value="${connected_to == ''}">
      <!-- <joint name="${ee_prefix}hand_joint" type="fixed"> -->
      <joint name="${arm_prefix}openarm_hand_joint" type="fixed">
        <parent link="${connected_to}" />
        <child link="${ee_prefix}hand" />
        <origin xyz="${xyz_ee}" rpy="${rpy_ee}" />
      </joint>
    </xacro:unless>

    <!-- hand_tcp: left arm only (right arm uses end_point_link instead) -->
    <xacro:unless value="${arm_prefix == 'right_'}">
      <link name="${ee_prefix}hand_tcp" />

      <joint name="${ee_prefix}hand_tcp_joint" type="fixed">
        <origin xyz="${tcp_xyz}" rpy="${tcp_rpy}" />
        <parent link="${ee_prefix}hand" />
        <child link="${ee_prefix}hand_tcp" />
      </joint>
    </xacro:unless>

    <!-- IK 기준 프레임 (오른팔 전용): 그리퍼 끝단 -->
    <xacro:if value="${arm_prefix == 'right_'}">
      <link name="end_point_link">
        <visual name="end_point_link_visual">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://${description_pkg}/meshes/ee/${ee_type}/visual/openarm_gripper_2.STL" scale="0.001 0.001 0.001" />
          </geometry>
        </visual>
      </link>
      <joint name="end_point_link_joint" type="fixed">
        <origin xyz="0.015001 0 0.1275005" rpy="0 0 0" />
        <parent link="${ee_prefix}hand" />
        <child link="end_point_link" />
      </joint>
    </xacro:if>

    <!-- Gemini 336 카메라 베이스 (양쪽 공통) -->
    <link name="${ee_prefix}camera_base_link">
      <visual name="${ee_prefix}camera_base_link_visual">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/ee/${ee_type}/visual/Gemini 336.STL" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
    </link>
    <joint name="${ee_prefix}camera_base_link_joint" type="fixed">
      <origin xyz="-0.017999 0 0.0364005" rpy="0 0 0" />
      <parent link="${ee_prefix}hand" />
      <child link="${ee_prefix}camera_base_link" />
    </joint>

  </xacro:macro>
</robot>
